.ninja{
  width: 30%;
  height: 30%;
  padding-top: 0%;

}

.team{
  width: 10%;
  height: 20%;
  padding-top: 0%;
}

#map{
  width:auto;
  height:50vh;



}
.hideWhenDone {
  height: 50vh;
  padding-top: 5%;


}

#newSpotButton {
  margin-bottom: 5%;


}
#logoutButton {
  margin-bottom: 2%;



}
